/* Clear default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Define environmental variables */
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-orange: #FFA96C;
  --color-secondary: #FFFDFC;
}

#wrapper {
  height: 100%;
  width: 100%;
}

header {
  height: 50px;
  margin: 10px;
  display: grid;
  grid:
  "navleft navright" / 1fr 1fr;
}

#navleft {
  grid-area: navleft;
  border: 2px solid var(--color-black);
  height: 50px;
}

#navright {
  grid-area: navright;
  border: 2px solid var(--color-orange);
  height: 50px;
}

banner {
  grid-area: banner;
}

main {}

banner {
  grid-area: banner;
}

#section1, #section3 {
  grid-area: odd;
}

#section2, #section4 {
  grid-area: even;
}

#footer {
  grid-area: footer;
}
