/* Clear default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define environmental variables */
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-orange: #FFA96C;
  --bg-primary: #FFFFFF;
  --bg-secondary: #FFFDFC;
}

#wrapper {
  height: 100%;
  width: 100%;
}

#main {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid:
    "navleft navright"
    "banner banner"
    "content content"
    "footleft footright"/ 2fr 2fr;
}

#navleft, #navright {
  position: sticky;
  padding-top: 5px;
  top: 0px;
  height: auto;
  z-index: 3;
  background-color: var(--bg-primary);
  opacity: 0.95;
}

#navleft {
  grid-area: navleft;
  padding-top: 14px;
}

#navright {
  grid-area: navright;
}

.topnav {
  float: right;
  top: 0;
  z-index: -1;
  overflow: auto;
  background-color: var(--color-white);
}

.topnav a {
  display: block;
  background-color: var(--color-white);
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.navbtn {
  float: left;
  position: relative;
}

.navbtn .btnCC {
  font-size: 17px;
  border: none;
  outline: none;
  color: var(--color-orange);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .navbtn:hover .btnCC {
  background-color: var(--bg-secondary);
  color: var(--color-black);
}

.navbtn:hover {
  display: block;
}

#banner {
  grid-area: banner;
  z-index: 1;
}

#banner img {
  max-width: 100%;
  display: block;
}

#content {
  grid-area: content;
  margin: -50px 40px -50px 40px;
  z-index: 2;
  overflow: auto;
  display: block;
}

#content p {
  overflow: auto;
}

#expandarticleIJ, #expandarticleID, #expandarticleCS, #expandarticleML, #expandarticleIW {
  display: none;
}

.imgLeftITT {
  display: inline-block;
  width: 30%;
  float: left;
}

.textRight {
  padding-left: 10px;
}

.figuresleft {
  clear: left;
  display: block;
}

#lowq {
  display: block;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#expandarticleIJ img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#expandarticleID img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#expandarticleML img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border {
  border: 1px solid var(--color-orange);
}

.expandButton {
  color: var(--color-orange);
}

.expandButton:hover {
  color: var(--color-black);
}

.figures {
  text-align: center;
}

.imgMid {
  width: 800px;
}

#section1, #section2, #section3, #section4, #section1profiles {
  margin: 0;
  padding: 30px;
}

#section1, #section3, #section1profiles {
  background-color: var(--bg-primary);
}

#section2, #section4 {
  background-color: var(--bg-secondary);
}

#section1profiles {
  display: grid;
  grid:
    "profilephoto1 profilephoto2 profilephoto3 profilephoto4 profilephoto5 profilephoto6"
    "profilecontainer profilecontainer profilecontainer profilecontainer profilecontainer profilecontainer"/ 1fr 1fr 1fr 1fr 1fr 1fr;
}

#profilephoto1, #profilephoto2, #profilephoto3, #profilephoto4, #profilephoto5, #profilephoto6 {
  padding: 10px;
}

.profilephoto img {
  width: 100%;
  opacity: 0.6;
  cursor: pointer;
}

.profilephoto img:hover {
  opacity: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.profilecontainer {
  grid-area: profilecontainer;
  position: relative;
  display: none;
}

#imgtext {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: black;
  font-size: 20px;
}

.profilecontainer img {
  width: 100%;
  padding: 30px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

ol, ul {
  list-style-type: none;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 40px;
}

h3 {
  color: var(--color-orange);
}

.darkred {
 color: #640d14;
}
.red {
color: #d00000;
}

.yellow {
color: #ffc300;
}

.green {
  color: #137547;
}

.projectImg {
  display: block;
  width: 100%;
}

.imgright {
  float: right;
  display: inline;
  max-width: 30%;
}

.grid-container {
  display: grid;
  height: 200px;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container-meetings {
  display: grid;
  height: 400px;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container-timeframe {
  display: grid;
  height: auto;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container-characters {
  display: grid;
  height: auto;
  align-content: space-evenly;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  border: 1px solid var(--color-orange);
}

#characters {
  max-width: 150px;
}

#reflections_container {
  display: none;
}

#id_reflections_container {
  display: none;
}

#hideref_team {
  display: none;
}

.reflectionBtn {
  color: var(--color-orange);
}

.reflectionBtn:hover {
  color: var(--color-black);
}

.orange_color {
  color: var(--color-orange);
}

#footleft, #footright {
  padding: 100px 20px 20px 20px;
  height: 400px;
  z-index: 1;
  background-color: var(--color-orange);
}

#footleft {
  grid-area: footleft;
}

#footleft a {
  color: var(--color-white);
}

#footleft a:hover {
  color: var(--color-black);
}

#footright {
  grid-area: footright;
}

#footleft img {
  max-width: 90px;
  float: left;
  padding-left: 18px;
}

#gp_container {
  display: none;
}

#id_gp_container {
  display: none;
}

#hidegp_team {
  display: none;
}

.gpBtn {
  color: var(--color-orange);
}

.gpBtn:hover {
  color: var(--color-black);
}
