/* Clear default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define environmental variables */
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-orange: #FFA96C;
  --bg-primary: #FFFFFF;
  --bg-secondary: #FFFDFC;
}

#wrapper {
  height: 100%;
  width: 100%;
}

#main {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid:
    "navleft navright"
    "banner banner"
    "content content"
    "footleft footright"/ 3fr 2fr;
}

#navleft, #navright {
  position: sticky;
  padding-top: 5px;
  top: 0px;
  height: auto;
  z-index: 3;
  background-color: var(--bg-primary);
}

#navleft {
  grid-area: navleft;
  padding-top: 14px;
}

#navright {
  grid-area: navright;
}

#banner {
  grid-area: banner;
  z-index: 1;
}

#banner img {
  max-width: 100%;
  display: block;
}

#content {
  grid-area: content;
  margin: -50px 40px -50px 40px;
  z-index: 2;
}

.imgLeft {
  height: 75px;
  width: 150px;
  border: 2px solid var(--color-black);
  border-radius: 15px;
}

#section1, #section2, #section3, #section4, #section2profiles {
  margin: 0;
  padding: 30px;
}

#section1, #section3 {
  border: 0px solid var(--color-black);
  background-color: var(--bg-primary);
}

#section2, #section4, #section2profiles {
  border: 0px solid var(--color-orange);
  background-color: var(--bg-secondary);
}

#section2profiles {
  display: grid;
  grid:
    "profilephoto1 profilephoto2 profilephoto3 profilephoto4 profilephoto5 profilephoto6"
    "profilecontainer profilecontainer profilecontainer profilecontainer profilecontainer profilecontainer"/ 1fr 1fr 1fr 1fr 1fr 1fr;
}

#profilephoto1, #profilephoto2, #profilephoto3, #profilephoto4, #profilephoto5, #profilephoto6 {
  padding: 10px;
  border: 0px solid var(--color-black);
}

.profilephoto img {
  width: 100%;
  opacity: 0.8;
  cursor: pointer;
}

.profilephoto img:hover {
  opacity: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.profilecontainer {
  grid-area: profilecontainer;
  position: relative;
  display: none;
}

#imgtext {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: black;
  font-size: 20px;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: black;
  font-size: 35px;
  cursor: pointer;
}

.profilecontainer img {
  width: 100%;
}

#section3 {
  display: grid;
  grid:
    "s3h s3h"
    "s3left s3right"/ 2fr 1fr;
}

#section3 h1 {
  grid-area: s3h;
}

#s3left {
  grid-area: s3left;
}

#s3right {
  grid-area: s3right;
}

#footleft, #footright {
  padding: 100px 20px 20px 20px;
  height: 400px;
  z-index: 1;
  background-color: var(--color-orange);
}

#footleft {
  grid-area: footleft;
}

#footright {
  grid-area: footright;
}

#footright img {
  max-width: 200px;
}
