/* Clear default margin and padding */
body {
  margin: 0;
  padding: 0;
}
a.icon {
  font-size: 35px;
}

@media screen and (max-width: 760px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  #navleft {
    padding-left: 10px;
  }
  #navright {
    padding-right: 10px;
  }

  #content {
    margin: 0px;
    overflow: auto;
  }

  #content p {
    overflow: auto;
  }

  #footleft, #footright {
    height: auto;
    padding-top: 20px;
  }

  #footright img {
    max-width: 100px;
    padding-top: 160px;
  }

}

@media screen and (max-width: 760px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right:0;
    top:0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: fixed;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
